body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(115, 93, 165);
    background-color: rgb(211, 197, 229);
    text-align: center;
}

.nav_list {
    overflow: hidden;
    background-color: rgb(115, 93, 165);
}
  
.nav_list a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* for elements on right side of nav bar */
/* .nav_list li {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    font-size: 17px;
    list-style: none;
} */

.feed {
    color: black;
    text-align: center;
    padding-left: 40px;
}