body {
    background-color: rgb(16, 24, 32);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    display: inline;
}

.nav_list {
    overflow: hidden;
    background-color: rgb(115, 93, 165);
}
  
.nav_list a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.probInfo {
    box-sizing: content-box; 
    border: 1px solid #dddddd;
    width: 500px;
    float: left;
    padding-left: 40px;
    padding-bottom: 40px;
}

.codeArea {
    box-sizing: content-box; 
    border: 1px solid #dddddd;
    width: 700px;
    float: left;
    padding-left: 40px;
    padding-bottom: 40px;
}

.languages {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
  
.languages:hover .dropdown-content {
    display: block;
}

.code {
    height: 500px;
    width: 500px;
    background-color: white;
    color: black;
}

.btns {
    display: inline;
}

.btnTimerStart {
    height: 50px;
    width: 120px;
    font-size: 17px;
}

.btnSubmit {
    height: 50px;
    width: 120px;
    font-size: 17px;
}

.result {
    color: white;
}